<html>
    <head>
        <title>Saran blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Saran Blog</a></h1>
        </div>

        <div>
            <p>published: 01.29.2018, 12:03</p>
            <h2><a href="">My first post</a></h2>
            <p> Hi Folks , please have a look on my new blog. I have created using Python and Django. Please feel free you contact me at saransatyal@gmail.com if you wanna know how I learn this and I will be glad to guide you how I reach here. P.S: I am still learning and will continue to learn.</p>
            <p> HAPPY LEARNING </p>
        </div>

        <div>
          <p>published: 01.29.2018, 12:03</p>
          <h2><a href="">My first post</a></h2>
            <p>NAMASTE</p>
        </div>
    </body>
</html>
